[submodule "_templates/react_template"]
	path = _templates/react_template
	url = https://github.com/InfinityLoopLabs/react-template.git
	branch = main
[submodule "packages/cli"]
	path = packages/cli
	url = https://github.com/InfinityLoopLabs/CLI.git
	branch = main
[submodule "packages/tailwind-config"]
	path = packages/tailwind-config
	url = https://github.com/InfinityLoopLabs/tailwind-config.git
[submodule "_templates/frontend-vite-lib-template"]
	path = _templates/frontend-vite-lib-template
	url = https://github.com/InfinityLoopLabs/frontend-vite-lib-template.git
	branch = main
[submodule "packages/ui-kit"]
	path = packages/ui-kit
	url = https://github.com/InfinityLoopLabs/ui-kit.git
	branch = main

